<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="Author" content="" />
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1,user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
<title>강서구청</title>
<link rel="stylesheet" href="../../css/animate.min.css" />
<link rel="stylesheet" href="../../css/swiper.min.css" />
<link rel="stylesheet" href="../../css/style_pc.css" />
<script src="../../js/jquery-1.9.1.min.js"></script>
<script src="../../js/swiper.jquery.min.js"></script>
<script src="../../js/TweenMax.min.js"></script>
<script src="../../js/ui_pc.js" ></script>
</head>

<body>
<div id="wrapper">
    <div id="header">
        <div class="contents_area">
            <h1><a href="#"><img src="../../images/pc/img_logo.png" alt="강서구"></a></h1>
            <div class="topUtil clearfix">
                <ul class="topQuick">
                    <li><a href="#">홈</a></li>
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                    <li><a href="#">사이트맵</a></li>
                </ul>
                <p class="language">
                    <a href="#" class="active">KOR</a>
                    <a href="#">ENG</a>
                </p>
                <div class="search">
                    <form name="" method="post" action="">
                        <input type="text" placeholder="Search">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="contents_area">               
            <nav class="navArea clearfix">
                <ul class="gnb">
                    <li><a href="#">종합민원</a></li>
                    <li><a href="#">열린광장</a></li>
                    <li><a href="#">소식광장</a></li>
                    <li><a href="#">생활정보</a></li>
                    <li><a href="#">행정정보</a></li>
                    <li><a href="#">희망강서</a></li>
                </ul>
                <ul class="quickSite">
                    <li><a href="#">문화관광</a></li>
                    <li><a href="#">의료관광특구</a></li>
                </ul>
            </nav>
        </div>
        <div class="subGnbArea">
            <div class="contents_area">
                <ul>
                    <li><a href="#">종합민원안내</a></li>
                    <li><a href="#">민원사무안내</a></li>
                    <li><a href="#">온라인민원신청</a></li>
                    <li><a href="#">주민신고</a></li>
                    <li><a href="#">나의신청내역</a></li>
                </ul>
                <ul>
                    <li><a href="#">구민제안</a></li>
                    <li><a href="#">찾아가는 동주민센터</a></li>
                    <li><a href="#">마을공동체</a></li>
                    <li><a href="#">온라인신청</a></li>
                    <li><a href="#">강서나눔과봉사</a></li>
                    <li><a href="#">여론수렴</a></li>
                    <li><a href="#">사이버반상회</a></li>
                    <li><a href="#">동호회</a></li>
                    <li><a href="#">장터마당</a></li>
                    <li><a href="#">공공언어 바로 알기</a></li>
                    <li><a href="#">참여공간</a></li>
                </ul>
                <ul>
                    <li><a href="#">공지/새소식</a></li>
                    <li><a href="#">언론보도</a></li>
                    <li><a href="#">강서구보</a></li>
                    <li><a href="#">강서소식지</a></li>
                    <li><a href="#">입법/고시/공고</a></li>
                    <li><a href="#">입찰정보</a></li>
                    <li><a href="#">도시개발소식</a></li>
                    <li><a href="#">공동주택 통합마당</a></li>
                    <li><a href="#">마을세무사</a></li>
                </ul>
                <ul>
                    <li><a href="#">강서경제</a></li>
                    <li><a href="#">강서환경</a></li>
                    <li><a href="#">강서복지</a></li>
                    <li><a href="#">강서생활</a></li>
                    <li><a href="#">강서교육</a></li>
                </ul>
                <ul>
                    <li><a href="#">강서행정자료</a></li>
                    <li><a href="#">정책실명제</a></li>
                    <li><a href="#">재정정보</a></li>
                    <li><a href="#">행정규제개혁</a></li>
                    <li><a href="#">행정정보공개</a></li>
                    <li><a href="#">법령/자치법규</a></li>
                    <li><a href="#">행정서비스헌장</a></li>
                    <li><a href="#">조직정보 공개</a></li>
                    <li><a href="#">통계정보</a></li>
                </ul>
                <ul>
                    <li><a href="#">열린구청장실</a></li>
                    <li><a href="#">구정목표</a></li>
                    <li><a href="#">우리강서구</a></li>
                    <li><a href="#">강서구현황</a></li>
                    <li><a href="#">국내외교류현황</a></li>
                    <li><a href="#">청사안내</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="subContentArea">
        <div class="contents_area">
            <div id="leftArea">
                <p class="category">소식광장</p>
                <ul class="subNav"> <!-- 해당 페이지의 li 에  class="active" 적용 -->
                    <li><a href="#">공지/새소식</a></li>
                    <li>
                        <a href="#">언론보도</a>
                        <ul>
                            <li class="active"><a href="#">- 보도자료</a></li>
                            <li><a href="#">- 언론보도 기사</a></li>
                        </ul>
                    </li>
                    <li><a href="#">강서구보</a></li>
                    <li>
                        <a href="#">강서소식지</a>
                        <ul>
                            <li><a href="#">- 보도자료</a></li>
                            <li><a href="#">- 언론보도 기사</a></li>
                        </ul>
                    </li>
                    <li><a href="#">입법/고시/공고</a></li>
                    <li>
                        <a href="#">입찰정보</a>
                        <ul>
                            <li><a href="#">- 보도자료</a></li>
                            <li><a href="#">- 언론보도 기사</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">도시개발소식</a>
                        <ul>
                            <li><a href="#">- 보도자료</a></li>
                            <li><a href="#">- 언론보도 기사</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">공동주택 통합마당</a>
                        <ul>
                            <li><a href="#">- 보도자료</a></li>
                            <li><a href="#">- 언론보도 기사</a></li>
                        </ul>
                    </li>
                    <li><a href="#">마을세무사</a></li>
                </ul>
            </div>
            <div id="subContents">
                <div class="contentsHeader clearfix">
                    <h2 class="title">언론보도<span>|</span>보도자료</h2>
                    <ul class="location clearfix">
                        <li>HOME</li>
                        <li>소식광장</li>
                        <li>언론보도</li>
                        <li>보도자료</li>
                    </ul>
                </div>
                <div class="contents">
                    <div class="bbsSearch clearfix">
                        <p class="left">목록 개수 : 5013건</p>
                        <p class="right">
                            <select name="" id="">
                                <option value="">글제목</option>
                            </select>
                            <input type="text" class="mL10">
                            <button type="submit">검색</button>
                            <button type="reset" class="mL5">취소</button>
                        </p>
                    </div>
                    <table class="table-default">
                        <caption></caption>
                        <colgroup>
                            <col style="width:80px">
                            <col style="width:px">
                            <col style="width:100px">
                            <col style="width:100px">
                            <col style="width:100px">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>게시자</th>
                                <th>날짜</th>
                                <th>조회수</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>6061</td>
                                <td class="left"><a href="#">‘도시농부의 꿈’심을 텃밭 드립니다!</a></td>
                                <td>공보전산과</td>
                                <td>2017-02-24</td>
                                <td>123456</td>
                            </tr>
                            <tr>
                                <td>6061</td>
                                <td class="left"><a href="#">‘도시농부의 꿈’심을 텃밭 드립니다!</a></td>
                                <td>공보전산과</td>
                                <td>2017-02-24</td>
                                <td>123456</td>
                            </tr>
                            <tr>
                                <td>6061</td>
                                <td class="left"><a href="#">‘도시농부의 꿈’심을 텃밭 드립니다!</a></td>
                                <td>공보전산과</td>
                                <td>2017-02-24</td>
                                <td>123456</td>
                            </tr>
                            <tr>
                                <td>6061</td>
                                <td class="left"><a href="#">‘도시농부의 꿈’심을 텃밭 드립니다!</a></td>
                                <td>공보전산과</td>
                                <td>2017-02-24</td>
                                <td>123456</td>
                            </tr>
                            <tr>
                                <td>6061</td>
                                <td class="left"><a href="#">‘도시농부의 꿈’심을 텃밭 드립니다!</a></td>
                                <td>공보전산과</td>
                                <td>2017-02-24</td>
                                <td>123456</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pager">
                        <a href="#" class="arr prev"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                        <a href="#" class="">1</a>
                        <a href="#" class="active">2</a>
                        <a href="#" class="">3</a>
                        <a href="#" class="">4</a>
                        <a href="#" class="">5</a>
                        <a href="#" class="arr next"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="researchInfo clearfix">
                        <div class="research">
                            <form action="" method="post">
                                <dl class="select_score clearfix">
                                    <dt>페이지의 내용이나 사용편의성에 만족하십니까?</dt>
                                    <dd>
                                        <ul>
                                            <li class="score01"><input type="radio" name="info-score" id="score-01"><label for="score-01">매우만족</label></li>
                                            <li class="score02"><input type="radio" name="info-score" id="score-02"><label for="score-02">만족</label></li>
                                            <li class="score03"><input type="radio" name="info-score" id="score-03"><label for="score-03">보통</label></li>
                                            <li class="score04"><input type="radio" name="info-score" id="score-04"><label for="score-04">불만족</label></li>
                                            <li class="score05"><input type="radio" name="info-score" id="score-05"><label for="score-05">매우불만족</label></li>
                                        </ul>
                                    </dd>
                                </dl>
                                <dl class="inputMsg clearfix">
                                    <dt>의견이 있으신가요?</dt>
                                    <dd>
                                        <input type="text">
                                        <button type="submit" class="btn btn-sm btn-gray">등록</button>
                                    </dd>
                                </dl>
                            </form>
                        </div>
                        <dl class="pageInfo">
                            <dt>자료관리담당 : </dt>
                            <dd>
                                <ul class="clearfix">
                                    <li><b>공보전산과 언론지원팀</b></li>
                                    <li>TEL : 02-2600-6073</li>
                                    <li>Fax : 2620-0421</li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="contents_area">
            <ul class="footMenu clearfix">
                <li><a href="#">홈페이지</a></li>
                <li><a href="#">이용안내</a></li>
                <li><a href="#">찾아오시는 길</a></li>
                <li><a href="#">구청 전화번호 안내</a></li>
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">저작권정책</a></li>
                <li><a href="#">사이트이용 관련문의</a></li>
            </ul>
            <ul class="contact">
                <li>우편번호 07658 서울특별시 강서구 화곡로 302(화곡동) </li>
                <li>TEL : 02-2600-6114(120다산콜센터로 연결) 02-2600-6330(야간, 공휴일/당직실) <span class="mL30">FAX : 02-2692-0635</span> </li>
            </ul>
            <p class="copyright">COPYRIGHT © 2014 GANGSEO-GU. ALL RIGHTS RESERVED.</p>
            <div class="mark"><img src="../../images/pc/ico_access.png" alt=""><img src="../../images/pc/img_qr.png" alt=""></div>
        </div>
    </div>
</div>

<script>
var swiper = new Swiper('.bannerCon', {
    pagination: '.swiper-pagination',
    paginationClickable: true,
    autoplay:4000,
});
var swiper = new Swiper('.favoMenu', {
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    slidesPerView:5,
    loop: true,
    slidesPerGroup:5,
});
    
    
</script>

</body>
</html>
